@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}


html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}


/*--------------------Header or Navigation-------------------------*/


.bg{
    background-image: linear-gradient(rgba(216, 213, 213, 0.1),rgba(0, 0, 0, 0.9)), url("img-ex/background.jpg");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-inline: 10%;
    position: fixed;
}

nav{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

.info{
    display: flex;
}

.info ul{
    display: flex;
    gap: 4em;
    margin-top: 20px;
    margin-right: 65px;
}

.info ul li{
    position: relative;
}

.info ul li a::after{
    position: absolute;
    content: "";
    height: 3px;
    width: 0;
    top: -35px;
    left: 0;
    background-color: transparent;
    transition: 0.2s;
}
.info ul li a:hover::after{
    background-color: rgb(230, 23, 23);
    width: 100%;
}

.indi1{
    margin-top: 12px;
}

.indi{
    background-color:  darkcyan;
    height: 46px;
    border-radius: 40px;
    width: 200px;
    transition: 0.2s;
}

.indi, h3{
    text-align: center;
}

.indi:hover{
    width: 222px;
}

/*--------------------Header or Navigation-------------------------*/
/*END
/*--------------------3 Picture in Index File--------------------------*/

.main-text h1{
    opacity: 0;
    transition: 1s;
    transition-delay: 0.2s;
    font-size: 100px;
}
.main-text p{
    opacity: 0;
    transition: 1s;
    transition-delay: 0.4s;
}
#I3,I4{
    opacity: 0;
    transition: 1s;
    transition-delay: 0.6s;
}
#I5,I6{
    opacity: 0;
    transition: 1s;
    transition-delay: 0.7s;
}
#I7,I8{
    opacity: 0;
    transition: 1s;
    transition-delay: 0.8s;
}


.main-text{
    margin-top: 15%;
    text-align: center;
}

.img-m{
    position: relative;
    margin-top: 120px;
}

.img-m img{
    width: 100%;
    height: 30vh;
    object-fit: cover;
    position: relative;
    transition: 0.3s;
}

.img-text p:hover{
    opacity: 1;
}


.sub-con{
    display: flex;
    gap: 3em;
    justify-content: space-between;
    margin-top: -2%;
}

.img-text p{
    position: absolute;
    font-size: 20px;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    height: 98%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    opacity: 0;
}



/*--------------------3 Picture in Index File--------------------------*/
/*end
/*------------------------------ About --------------------------*/
.bg-2{
    background-image: linear-gradient(rgba(216, 213, 213, 0.1),rgba(0, 0, 0, 0.9)), url("img-ex/background.jpg");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-inline: 10%;
    transition: 1s;
    transition-delay: 0.1s;
    position: absolute;
}

.bot-con h2,
.bot-con p{
    color: black;
    text-align: justify;
}

.bot-con h2{
    margin-top: 50px;
    margin-bottom: 100px;
    text-align: center;
    color: white;
    font-size: 50px;
    opacity: 0;
    transition: 1s;
    transition-delay: 1s;
}

hr{
    opacity: 0;
    transition: 2s;
    transition-delay: 1.2s;
}


/*----Image In About ----*/

.mg-1{
    width: 50%;
    float: right;
    padding: 0.2% 2%;
    margin-top: 1%;
}

.mg-2{
    width: 35%;
    float: left;
    padding-inline: 2%;
    padding-block: 1%;
}

/*----Image In About ----*/

.pa-1{
    opacity: 0;
    margin-top: 3%;
    padding-inline: 50px;
    transition: 1.5s;
    transition-delay: 2s;
}

.pa-2{
    opacity: 0;
    margin-top: 5%;
    padding-inline: 50px;
    transition: 1.5s;
    transition-delay: 2.5s;
}

.pa-3{
    opacity: 0;
    margin-top: 5%;
    padding-inline: 50px;
    transition: 1.5s;
    transition-delay: 3s;
}

.p-e{
    font-size: 30px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
}

/*------------------------------ About --------------------------*/

/*----------------------------Pictures---------------------------*/

.gallery{
    margin-top: 105px;
    padding: 15px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-auto-rows: 250px;
    grid-auto-flow: dense;
    opacity: 0;
    transition: 0.5s;
    transition-delay: 1.5s;
}

.gallery div  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.2s;
}


.ver-st{
    grid-row: span 2;
}

.hor-st{
    grid-column: span 2;
}

.big-st{
    grid-row: span 2;
    grid-column: span 2;
}

#main-pic{
    opacity: 0;
    transition: 1s;
    transition-delay: 0.5s;
    text-align: center;
    padding-top: 20px;
    font-size: 80px;
}

.parent{
    position: relative;
}

.child-over{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: 0.5s;
}.child-over:hover{
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 1;
    padding-top: 100px;
}

/*------------------------------Details-------------------------------*/
.bg-3{
    background-image: linear-gradient(rgba(216, 213, 213, 0.1),rgba(0, 0, 0, 0.9)), url("img-ex/background.jpg");
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    padding-inline: 10%;
    transition: 1s;
    transition-delay: 0.1s;
    position: absolute;
}
/*------------------------------Details-------------------------------*/

/*----------------------------Pictures---------------------------*/

/*----------------------------Media Responsive ----------------------------------*/

@media only screen and (max-width: 1550px) {
    .main-text h1{
        font-size: 70px;
    }
    .main-text{
        margin-top: 10%;
    }
    .main-text p{
        font-size: 14px;
    }
    .indi h3{
        padding-top: 9px;
    }
    .indi{
        margin-top: -1%;
    }
}



/*----------------------------Media Responsive ----------------------------------*/
